body {

    background-color: #e0e0e0;
    font-family: Arial, sans-serif;

}

h2 {

    text-align: center;
    font-size: 28px;
    color: #00008B;
    margin-bottom: 30px;

}

form {

    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

}